body {
  background-color: azure;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding:0px;
  text-align: center;
}

h1 {
  text-align: center;
  color:aquamarine;
  background-color:gray;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
}

h2 {
  margin-top:0px;
  padding-top:5px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 300px
}